/.vs
/x64
/MaximumSubArraySum/x64
/MaximumSubArraySum/*.filters
/MaximumSubArraySum/*.user
/LockedRooms/x64
/LockedRooms/*.filters
/LockedRooms/*.user
/Sudoku/x64
/Sudoku/*.filters
/Sudoku/*.user
/.gitignore.bak