/.vs
/x64
/MaximumSubArraySum/x64
/MaximumSubArraySum/*.filters
/MaximumSubArraySum/*.user
/LockedRooms/x64
/LockedRooms/*.filters
/LockedRooms/*.user
/Sudoku/x64
/Sudoku/*.filters
/Sudoku/*.user
/BusRoutes/x64
/BusRoutes/*.filters
/BusRoutes/*.user
/ValidatingBinaryTree/x64
/ValidatingBinaryTree/*.filters
/ValidatingBinaryTree/*.user
/MaximumPurchase/x64
/MaximumPurchase/*.filters
/MaximumPurchase/*.user
/SmallestInterval/x64
/SmallestInterval/*.filters
/SmallestInterval/*.user
/SumTreeDistances/x64
/SumTreeDistances/*.filters
/SumTreeDistances/*.user
/.gitignore.bak